

/* colors
light yellow #ffec63
strong yellow #ffd966
black 0.8 alpha rgba(0, 0, 0, 0.8);
white #fff
gratitude note green #45a049
off white #f9f9f9
button main green #45a049
scroll bar grey #919191

close button hover #5a5a5a

*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color:rgba(0, 0, 0, 0.8);
    font-family: "Press Start 2P", sans-serif;
    background-color: #ffec63;
    background-image: linear-gradient(
        45deg,
        #ffd966 25%,
        transparent 25%,
        transparent 75%,
        #ffd966 75%,
        #ffd966
      ),
      linear-gradient(
        -45deg,
        #ffd966 25%,
        transparent 25%,
        transparent 75%,
        #ffd966 75%,
        #ffd966
      );
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 4s infinite linear;
  }
  
  @keyframes slide {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
  }
  



 /* Define the animation */
@keyframes noteAddedAnimation {
    0% {
      transform: scale(0.9);
      opacity: 0.5;
    }
    80% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
  
  /* Apply the animation to the main container when the class is added */
  .container.note-added {
    animation: noteAddedAnimation 0.02s ease;
  }
  
  /* Other container styles */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
    background-color: #fff;
  }
  

/* Styles for the main popup container */
.popup-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none; /* Add this line to make the container ignore pointer events */
}

#Popupsignup
{
    display:block;
}

.popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        max-width: 90vw;
        /*height: 45%;*/
        max-height: 70vw;
        transform: translate(-50%, -50%);
        border-radius: 0px;
        text-align: left;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #f9f9f9;
        padding: 20px;
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        pointer-events: auto;
    }


.popup-content-tall {

        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        max-width: 95vw;
        height: 80%;
        max-height: 70vw;
        transform: translate(-50%, -50%);
        border-radius: 0px;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #f9f9f9;
        padding: 20px;
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        pointer-events: auto;
}

.popup-content textarea {
    flex: 1; /* Let the textarea expand to fill the available space */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: none; /* Remove any border */
    height: 100px; /* Set the desired height for the textarea */
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Press Start 2P"; /* Apply the pixel art font to the input */
    line-height: 2; /* Adjust the line height as needed */
    background-color: #ffd966;
    color: rgba(0, 0, 0, 0.6);
    resize: none; /* Prevent resizing */
    outline: none; /* When the element is in focus, it doesn't show the highlight */
}

.input-area {
    max-width: 100vw;
    margin-bottom: 20px;

}

/* CSS for the confirmation popup */

.confirmation-section {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%; /* Set the width to 100% */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    overflow: auto; /* Add scrollbar if content overflows */
    text-align: center; /* Center the content horizontally */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

.confirmation-section button {
    margin-top: 10px; /* Add some space between buttons */
}


/* Style for the delete button */
.delete-button {
    margin-top: 10px;
}



/* Reusable class for main buttons */
.button-main,
.delete-button,
.disabled-main {
    font-family: "Press Start 2P";
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%; /* Set the width to 100% to make all buttons the same width */
    margin-bottom: 10px; /* Add some space between stacked buttons */
    outline: none; /* When the element is in focus, it doesn't show the highlight */
}

.button-main {
    background-color: #45a049;
    color: #f9f9f9;
}

.delete-button {
    background-color: #c94d4d;
    color: rgba(0, 0, 0, 0.8);
}

.disabled-main {
    background-color: #919191;
    color: rgba(0, 0, 0, 0.4);
    /*animation: pulse 1s infinite;*/
}
/*
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
*/



/* Apply hover effect to the green and delete buttons */
.button-main:hover,
.delete-button:hover {
    background-color: #45a049; /* Change the background color on hover */
    /* Add any other styling you want for the hover effect */
}

.disabled-main:hover {
    background-color: #626a63; /* Change the background color on hover */
    /* Add any other styling you want for the hover effect */
}


/* Apply styles to WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f9f9f9; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #919191; /* Color of the scrollbar thumb */
}

/* Style for close popups button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0;
    outline: none; /* When the element is in focus, it doesn't show the highlight */
}

/* Apply hover effect to the close buttons */
.close-button:hover {
    color: #5a5a5a; /* Change the background color on hover */
    /* Add any other styling you want for the hover effect */
}

/* Flex container for buttons */
.main-button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to a new line on smaller screens */
    justify-content: space-between; /* Distribute buttons with equal spacing between them */
    max-width: 400px; /* Set the maximum width of the container to prevent them from spreading too wide */
    margin: 0 auto; /* Center the container horizontally */
}


/* Styles for the loader container */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure the loader is on top of other content */
    pointer-events: none;
}

/* Styles for the spinner animation */
.loader-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* functions for the animated notes */

.random-notes {
    opacity: 0; /* Initially hide the note */
    position: absolute; /* Start off-screen */
    left: -9999px;
    top: -9999px;
    width: 200px;
    height: 200px;
    max-width: 80vw;
    max-height: 80vw;
    background-color: #f9f9f9; /* Set your desired background color */
    border: 2px solid rgba(0, 0, 0, 0.8); /* Set your desired border color */
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    word-wrap: break-word; /* Allow long words to wrap within the note card */
    line-height: 2; /* Adjust the line height as needed */
    animation: sway 3s infinite 0s; /* Adjust duration and other animation properties as needed */


}
@keyframes sway {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}





.NoteList {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Progress bar within see all notes button */
.button-main-loader {
    font-family: "Press Start 2P";
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%; /* Set the width to 100% to make all buttons the same width */
    margin-bottom: 10px; /* Add some space between stacked buttons */
    outline: none; /* When the element is in focus, it doesn't show the highlight */
    background-color: #45a049;
    color: #f9f9f9;
    position: relative;
    /* Add other styles as needed */
}

.few-notes-style {
    /* Define your custom styles for the "Turbo Mode" button with few notes */
    /* For example: */
    background-color: yellow;
    color: black;
    /* ... */
}


.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Set desired height */
    background-color: lightgray;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: rgb(255, 0, 230);
    transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}


/* Styles for the Close Turbo Mode button */
#CloseTurboModeBtn {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* Initially hide the button */
}